 .banner{
    filter: brightness(40%);

}
.banner-ontent{
    position: absolute;
    top: 50%;
    left: 50%;
  
    transform: translate(-50%,-50%);
}
.learn{
    background-color: #F4FAFD;
}
.join{
    height:280px;
    background-color: #289BDE;
}
.fa-solid ,.fa-regular{
    color:gold;
}
.footer{
    height:400px;
    background-color: 
    #161616;
}
/* css responsive design */
@media screen and (min-width:375px)and (max-width:992px){
    .banner{
        width: 600px;
        height: 600px;
    }
    
}
@media screen and (max-width:375px){
    .banner{
        width:700px;
        height:700px;
    }
}
